ul {
  padding: 0;
}

li {
  margin-bottom: 15px;
}

.highlight {
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}

.green {
  background-color: #4caf50;
  color: white;
}

.yellow {
  background-color: #ffeb3b;
  color: black;
}
