#root {
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: #015764;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;

  .game-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .h1-game-title {
      margin-top: 20px;
      margin-bottom: unset;
    }
    .h4-game-title {
      font-weight: unset;
      margin: unset;
    }
  }
}

body {
  background-color: #f7f1ed;
}
